* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

label {
  display: block;
}

img {
  display: block;
}

.title_bigger {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
}

.title_smaller {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
}

button {
  border: 0;
  cursor: pointer;
}

.button {
  font-weight: 700;
  color: #FFFFFF;
  line-height: 22px;
  background-color: #000000;
  border: 0;
  text-transform: uppercase;
  margin: 0;
  padding: 9px 22px 9px 22px;
  display: inline-block;
}

.wrapper {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

.caption {
  margin: 60px 0 50px 0;
}

.caption .caption__title {
  margin-bottom: 15px;
}

/*breadcrumbs*/

.breadcrumbs {
  display: flex;
}

.breadcrumbs__item::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 12px;
  background-image: url(../pic/arrow_pagination.png);
  background-repeat: no-repeat;
  margin: 0 20px
}

.breadcrumbs__item:last-child::after {
  display: none;
}

.breadcrumbs__item a {
  font-family: 'Crimson Text';
  font-style: italic;
  font-size: 20px;
  line-height: 26px;
  color: #1E0606;
}

.breadcrumbs__item_active a {
  color: #8F8383;
}

/*pagination*/

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination__list {
  display: flex;
}

.pagination__button {
  width: 18px;
  height: 30px;
  background-color: transparent;
}

.pagination__button_left {
  background-image: url(../pic/pages_arrow_left.png);
}

.pagination__button_right {
  background-image: url(../pic/pages_arrow_right.png);
}

.pagination__item {
  margin-right: 64px;
}

.pagination__item a {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #1E0606;

}

.pagination__item_active a {
  color: #C29974;
}

.hidden {
  font-size: 0;
  line-height: 0;
}


/*header*/

.header {
  display: flex;
  align-items: center;
}

.header__menu {
  margin: 0 auto 0 60px;
}

.header__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.header__item a {
  font-size: 14px;
  line-height: 19px;
  color: #1E0606;
  margin-right: 20px;
}

.header__search {
  width: 17px;
  height: 17px;
  background-image: url(../pic/loupe.png);
  background-color: transparent;
}

.header__contact {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #1E0606;
  margin-left: 24px;
}

/*category*/

.category__item {
  height: 270px;
  width: 280px;
  margin: 0 10px 23px 10px;
}

.category__link {
  display: block;
  display: flex;
  flex-wrap: wrap;
  height: 270px;
  width: 280px;
  background-position: center;
  background-repeat: no-repeat;
}

.category__link > p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 26px;
  Line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: auto;
  max-width: 72%;
  text-align: center;
}


.category__kids > .category__link {
  background-image: url(../pic/tshort.png);
  background-color: #DBE4DB;
}


.category__holiday > .category__link {
  background-image: url(../pic/socks.png);
  background-color: #EADDD3;
}

.category__toys > .category__link {
  background-image: url(../pic/deer.png);
  background-color: #F8F2DA;
}

.category__accessories > .category__link {
  background-image: url(../pic/troll.png);
  background-color: #D5D4E1;
}

.category__sale > .category__link {
  background-image: url(../pic/flamingo.png);
  background-color: #F3D0DB;
}

.category__adults > .category__link {
  background-image: url(../pic/dress.png);
  background-color: #E5EAF8;
}

/*footer*/

.footer {
  background-color: #434343;
  padding: 100px 0 100px 0;

}

.footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 13px;
}


.footer-section__title {
  width: 380px;
  color: #AAAAAA;
  padding: 0 0 23px 0;
  border-bottom: 1px solid #666666;
}

.footer-section__list {
  margin-top: 28px;
}

.footer-section__item {
  margin-bottom: 15px;
}

.footer-form__email {
  padding: 9px 0 9px 15px;
  margin: 25px 0 0 0;
  border: 0;
  background-color: #666666;
  color: #EBEBEB;
  line-height: 22px;
  width: 308px;
}

.footer__socials {
  display: flex;
  margin-top: 25px;
}

.footer-socials__item {
  margin: 0 10px 0 0;
  width: 30px;
  height: 30px;
}

.footer-socials__item > a {
  display: block;
}

.footer-section__item a {
  color: #FFFFFF;
}

.company-info {
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  padding: 23px 0 0 0;
  border-top: 1px solid #666666;
}

.company-info > p {
  width: 380px;
}

.company-rating {
  display: flex;
  align-items: center;
  width: 380px;
}

.company-rating__text {
  order: 0;
  margin-right: 25px;
}

.star__input {
  order: 1;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
  border-width: 0;
  opacity: 0;
}

.star__label {
  cursor: pointer;
  order: 1;
  position: relative;
}

.star__label::before {
  content: "";
  width: 17px;
  height: 17px;
  background-image: url(../pic/star.png);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  position: absolute;
  left: -17.5px;
  top: -8.5px;
}

.star__label::after {
  content: "";
  width: 17px;
  height: 17px;
  background-image: url(../pic/star_brown.png);
  background-repeat: no-repeat;
  background-position: center;
  display: none;
  position: absolute;
  left: -17.5px;
  top: -8.5px;
}

.star__input:checked + .star__label::before {
  display: none;
}

.star__input:checked + .star__label::after {
  display: block;
}

.star__input:checked ~ .company-rating__text {
  color: #C29974;
}

.star__input:focus + .star__label::before {
  outline: #4d6db1 solid 2px;
}


.company-info__link_dark {
  display: block;
  width: 380px;
  color: #A2A2A2;
}

/*madal*/

.modal {
  display: flex;
  background-color: #97ACE1;
}

.modal__close {
  width: 15px;
  height: 15px;
  background-image: url(../pic/cross.svg);
  background-repeat: no-repeat;
  margin-left: 10px;
  background-color: transparent;
}

/*checkbox*/

.checkbox__input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 19px;
  height: 19px;
  margin: 0;
  padding: 0;
}

.checkbox__label::before {
  content: "";
  box-sizing: border-box;
  display: block;
  width: 19px;
  height: 19px;
  border: 2px solid #C29974;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.checkbox__label::after {
  content: "";
  display: block;
  background-image: url(../pic/checkbox_signe.png);
  background-repeat: no-repeat;
  box-sizing: border-box;
  opacity: 0;
  width: 14.23px;
  height: 14.64px;
  position: absolute;
  top: 0;
  left: 3px;
  cursor: pointer;
}

.checkbox__input:checked + .checkbox__label::after {
  opacity: 1;
}

.checkbox__input:checked + .checkbox__label::before {
  background-color: #FFFFFF;
}

.checkbox__input:focus + .checkbox__label::before {
  outline: #4d6db1 solid 2px;
}

/*Contacts*/

.contacts__checkbox {
  margin-bottom: 17px;
  position: relative;
}

.contacts-checkbox__label {
  font-size: 14px;
  line-height: 19px;
  margin-left: 34px;
  cursor: pointer;
}

.contacts__form {
  width: 680px;
  padding: 42px 40px 42px 40px;
  background-color: #E5EAF8;
}

.label__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
}

.two-columns__wrapper {
  display: flex;
  justify-content: space-between;
}

.label-message__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 0 22px 0;
}

.name,
.phone,
.email {
  padding: 14px 0 11px 20px;
  border: 1px solid #CCCCCC;
  font-size: 18px;
  line-height: 25px;
}

.phone,
.email {
  width: 290px;
}

.message {
  height: 150px;
  resize: none;
  padding: 14px 0 11px 20px;
  border: 1px solid #CCCCCC;
  font-size: 18px;
  line-height: 25px;
}
