* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.title_bigger {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  margin: 0;
}

.title_smaller {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  margin: 0;
}

button {
  border: 0;
}

.button {
  font-weight: 700;
  color: #FFFFFF;
  background-color: #000000;
  border: 0;
  text-transform: uppercase;
  margin: 0;
  padding: 9px 22px 9px 22px;
  display: inline-block;
}

.wrapper {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

.header{
  display: flex;
  align-items: center;
}

.header__menu{
  margin: 0 auto 0 60px;
}
.header__list{
  display: flex;
  margin: 0;
  padding: 0;
}
.header__item a {
  font-size: 14px;
  line-height: 19px;
  color: #1E0606;
  margin-right: 20px;
}

.header__search {
  width: 17px;
  height: 17px;
  background-image: url(../pic/loupe.png);
  background-color: transparent;
}

.header__contact {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #1E0606;
  margin-left: 24px;
}

.category__item {
  height: 270px;
  width: 280px;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
}

.category__item a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 26px; 
  Line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: block;
  margin: auto;
  max-width: 72%;
  text-align: center;
}

.category_kids {
  background-image: url(../pic/tshort.png);
  background-color: #DBE4DB;
  background-repeat: no-repeat;
}

.category_holiday {
  background-image: url(../pic/socks.png);
  background-color: #EADDD3;
  background-repeat: no-repeat;
}

.category_toys {
  background-image: url(../pic/deer.png);
  background-color: #F8F2DA;
  background-repeat: no-repeat;
}

.category_accessories {
  background-image: url(../pic/troll.png);
  background-color: #D5D4E1;
  background-repeat: no-repeat;
}

.category_sale {
  background-image: url(../pic/flamingo.png);
  background-color: #F3D0DB;
  background-repeat: no-repeat;
}

.category_adults {
  background-image: url(../pic/dress.png);
  background-color: #E5EAF8;
  background-repeat: no-repeat;
}

.footer {
  background-color: #434343;
}

.aside__title {
  color: #AAAAAA;
}

.aside__item a,
.footer__copyright {
  color: #FFFFFF;
}

.footer__copyright_dark {
  color: #A2A2A2;
}

.nav-list__item a {
  font-family: 'Crimson Text';
  font-style: italic;
  font-size: 20px;
  line-height: 26px;
  color: #1E0606;
}

.nav-list__item_active a {
  font-family: 'Crimson Text';
  font-style: italic;
  font-size: 20px;
  line-height: 26px;
  color: #E5E5E5;
  ;
}

.pages__button_left {
  width: 13px;
  height: 26px;
  background-image: url(../pic/pages_arrow_left.png);
  background-color: transparent;
}

.pages__button_right {
  width: 13px;
  height: 26px;
  background-image: url(../pic/pages_arrow_right.png);
  background-color: transparent;
}

.pages__item {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.pages__item a {
  color: #1E0606;
}

.pages__item_active a {
  color: #C29974;
}
