label {
  display: block;
  font-size: 14px;
  line-height: 19px;
}

.contacts {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 60px 0;
}

.contacts__form {
  width: 680px;
  padding: 42px 40px 42px 40px;
  background-color: #E5EAF8;
}

.label__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
}

.two-columns__wrapper {
  display: flex;
  justify-content: space-between;
}
.label-message__wrapper{
    display: flex;
  flex-direction: column;
  margin: 0 0 22px 0;
}

#name {
  padding: 14px 0 11px 20px;
  border: 1px solid #CCCCCC;
  font-size: 18px;
  line-height: 25px;
}

#phone {
  width: 290px;
  padding: 14px 0 11px 20px;
  border: 1px solid #CCCCCC;
  font-size: 18px;
  line-height: 25px;
}

#email {
  width: 290px;
  padding: 14px 0 11px 20px;
  border: 1px solid #CCCCCC;
  font-size: 18px;
  line-height: 25px;
}

#message {
  height: 150px;
  resize: none;
  padding: 14px 0 11px 20px;
  border: 1px solid #CCCCCC;
  font-size: 18px;
  line-height: 25px;
}
.checkbox {
  display: none;
}

.checkbox__label {
  padding-left: 34px;
  margin-bottom: 17px;
  font-size: 14px;
  line-height: 19px;
  position: relative;
}

.checkbox__label::before {
  content: "";
  box-sizing: border-box;
  display: block;
  width: 19px;
  height: 19px;
  border: 2px solid #C29974;
  border-radius: 3px;
  position: absolute;
  top: -2px;
  left: 0;
}

.checkbox__label::after {
  content: "";
  display: block;
  background-image: url(../pic/check_signe.png);
  background-repeat: no-repeat;
  box-sizing: border-box;
 opacity: 0;
 width: 14.23px;
height: 14.64px;
  position: absolute;
  top: -2px;
  left: 3px;
}

.checkbox:checked+.checkbox__label::after {
opacity: 1;
    }

.contacts__desc {
  width: 380px;
}

.contacts__desc p {
  margin-bottom: 20px;
}

.contacts__desc_big {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  text-transform: uppercase;
  color: #C29974;
}
