/*banner*/
.banner__background {
  background-color: #EEE4DB;
  padding: 17px 0 0 0;
  margin: 129px 0 0 0;
}

.banner__number {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 60px;
  line-height: 73px;
  color: #E3D8D0;
  margin: 0 0 10px 27px;
}

.banner__wrapper {
  display: flex;
  align-items: flex-start;
}

.banner__buttons {
  margin: 0 71px 0 31px;
}

.banner__buttons-item {
  width: 31px;
  height: 3px;
  background-color: #D6CAC2;
  display: block;
  padding: 0;
  margin: 0 0 11px 0;
}

.banner__buttons-item_active {
  width: 31px;
  height: 3px;
  background-color: #715F5C;
  display: block;
  padding: 0;
  margin: 0 0 11px 0;
}

.banner__text {
  margin: 0 auto 0 0;
}

.banner__title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  margin: -9px 0 20px 0;
}

.banner__text_italic {
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  font-style: italic;
  line-height: 26px;
  margin: 0 0 20px 0;
}

.banner__img {
  margin: -190px 99px 0 0;
}

.banner__text_bottom {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  background-color: #C29974;
  text-transform: uppercase;
  text-align: center;
  padding: 11px 0 11px 0;
  margin: 0 0 90px 0;
}

/*category*/
.category__title {
  margin: 0;
}

.category__list {
  display: flex;
  margin: 30px -10px 10px -10px;
  padding: 0;
}

.category__nav {
  display: flex;
  align-items: center;
  margin-bottom: 90px;
}

.category-nav__button_left {
  height: 37px;
  width: 37px;
  background-color: #E2F1F8;
  background-image: url(../pic/arrow_left.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  margin-right: 6px;
}

.category-nav__button_right {
  height: 37px;
  width: 37px;
  background-color: #E2F1F8;
  background-image: url(../pic/arrow_right.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  margin-right: 20px;
}

.category-nav__description {
  margin: 0;
  width: 50%;
}

/*delivery*/

.delivery {
  display: flex;
}

.delivery__img {
  width: 480px;
  height: 559px;
}

.delivery__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 0 0 0;
  margin: 0 0 0 120px;
  position: relative;
}

.delivery__text .title_smaller {
  display: none;
  order: 1;
  margin: 0 0 17px 0;
}

.delivery__text input[type="radio"] {
  opacity: 0;
  position: absolute;
}


.delivery__text input[type="radio"]:checked + label {
  padding: 11px 180px 11px 60px;
  background-color: #E2F1F8;
  margin-left: -60px;
  font-weight: 700;
}

.delivery__text label {
  display: block;
  order: 2;
  cursor: pointer;
  margin: 0 0 22px 0;
}

.delivery__content {
  display: none;
  order: 3;
  margin: 8px 0 11px 0;
}

.delivery__content p {
  margin: 0 0 15px 0;
}

.delivery__text > label,
.container__caption {
  font-family: 'Crimson Text';
  font-style: italic;
  font-size: 26px;
  line-height: 34px;
}

.delivery__tab1:checked ~ .tab_title1,
.delivery__tab1:checked ~ .tab_content1,
.delivery__tab2:checked ~ .tab_title2,
.delivery__tab2:checked ~ .tab_content2,
.delivery__tab3:checked ~ .tab_title3,
.delivery__tab3:checked ~ .tab_content3 {
  display: block;
}

.delivery__text .button {
  order: 4;
}

/*sponsors*/

.sponsors__list {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 0;
  margin: 91px 0 90px 0;
}

/*containers*/
.container {
  display: flex;
  align-items: flex-start;
}

.container_left {
  width: 543px;
  background-color: #E1F0F7;
  padding: 0 30px 0 30px;
  margin: 0 auto 155px 0;
}

.container_right {
  width: 543px;
  background-color: #E1F0F7;
  padding: 0 30px 0 30px;
  margin: 0;
  position: relative;
}

.container__title {
  margin: -26px 0 10px 0;
}

.container_right .container__content {
  margin: 20px 0 102px 0;
}

.container__caption {
  margin: 0 0 0 0;
}

.container__content {
  margin: 10px 0 0 0;
}

.container_left .button {
  margin: 20px 0 27px 0;
}

.map {
  position: absolute;
  top: 137px;
  left: 30px;
}

/*modal*/

.modal {
  background-color: rgba(125, 151, 218, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.modal__form {
  position: relative;
}

.modal__button_close {
  width: 15px;
  height: 15px;
  background-image: url(../pic/cross.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: -25px;
}

.modal_show{
  display: flex;
}
