/*features*/

.features {
  background-color: #E5EAF8;
  padding: 42px 0 42px 0;
}

.features__wrapper {
  display: flex;
  justify-content: space-between;
  padding-right: 85px;
  align-items: flex-start;
}

.features__wrapper .button{
  margin-top: 37px;
}
.features__title {
  font-weight: 700;
  margin-bottom: 15px;
}
.range{
  width: 202px;
}
.range__level{
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}

.color__item{
  margin-bottom: 15px;
  position: relative;
}

.delivery__item{
  margin-bottom: 10px;
  position: relative;
}


.amount__list{
  display: flex;
}


.amount-tab__label{
  width: 80px;
  height: 35px;
  cursor: pointer;
  text-align: center;
  padding-top: 7px;
  background-color: #FFFFFF;
}

.amount-tab__input:checked + .amount-tab__label {
  background-color: #F3D0DB;
}

/*products*/

.products__list{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px 0 -10px;
}

.products__item{
  width: 380px;
  margin: 10px 10px;
  background-position: center;
  padding-bottom: 25px;
}

.products__img{
  margin-bottom: 30px;  
}

.products__name {
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  margin-bottom: 15px;
}

.products__price {
  font-weight: 700;
  line-height: 22px;
  text-align: center;
}

.products__pagination{
  margin: 50px 0 60px 0;
}

/*checkbox*/

.toys-checkbox__label {
  margin-left: 29px;
  cursor: pointer;
}

/*radio*/
.delivery__item>input[type="radio"],
.amount__item>input[type="radio"]
{
  position: absolute;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.delivery__item>label{
  margin-left: 30px;
  cursor: pointer;
}

.delivery__item>label::before {
  content: "";
  box-sizing: border-box;
  opacity: 1;
  width: 20px;
  height: 20px;
  border: 2px solid #C29974;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.delivery__item>label::after {
  content: "";
  box-sizing: border-box;
  opacity: 0;
  width: 12px;
  height: 12px;
  border: 1px solid #C29974;
  border-radius: 6px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: #C29974;
  cursor: pointer;
}

.radio__input:checked + .radio__label::after {
  opacity: 1;
}

.radio__input:focus + .radio__label::before {
  outline: #4d6db1 solid 2px;
}

